<div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <form action="/Home/Login" method="POST">
        <input type="text" name="name" placeholder="Usuario" autocomplete="username" required/>
        <input type="password" name="password" placeholder="Contraseña" autocomplete="password" required/>
        <input type="text" name="action" value="login" id="action-input" hidden required/> 
        <select name="start" id="start" hidden></select>
        <select name="end" id="end" hidden></select>
        <button type="submit" id="submit-button">Entrar</button>
    </form>
        <button type="button" id="toggle">Registarse</button>
</div>

<script>
    let login = true;
    document.getElementById("toggle").onclick = function() {
        login = !login
        document.getElementById("submit-button").innerText = login ? "Entrar" : "Crear cuenta"
        document.getElementById("action-input").value = login ? "login" : "register"
        document.getElementById("toggle").innerText = login ? "Registarse" : "Inicar sesión"
        document.getElementById("start").hidden = login;
        document.getElementById("end").hidden = login;
    };
    const start = document.getElementById('start');
        for (let h = 0; h < 24; h++) {
            const hh = String(h).padStart(2, '0');
            ['00', '30'].forEach(mm => {
                const opt = document.createElement('option');
                opt.value = `${hh}:${mm}`;
                opt.text = `${hh}:${mm}`;
                start.appendChild(opt);
            });
        }
    const end = document.getElementById('end');
        for (let h = 0; h < 24; h++) {
            const hh = String(h).padStart(2, '0');
            ['00', '30'].forEach(mm => {
                const opt = document.createElement('option');
                opt.value = `${hh}:${mm}`;
                opt.text = `${hh}:${mm}`;
                end.appendChild(opt);
            });
        }
</script>