<div class="container">
    <h1>Lista de tareas</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Fecha límite</th>
                    <th>Horas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="task_container">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/task.js"></script>
}